#navbar{
    position: fixed;
    left: 5px;
    top: 2px;
    margin: 10px;
}

#main-doc{
    margin-left: 300px;
}

li{
    list-style: none;
}

@media ( max-width: 800px ){
    #navbar{
        position: relative;
    }
}